openapi: 3.0.0
info:
  title: Laravel Forge
  description: The Forge API allows you to create and interact with servers and sites
    on Laravel Forge through a simple REST API.
  version: 1.0.0
servers:
- url: https://forge.laravel.com/api/v1
security:
- BearerAuth: []
paths:
  /user:
    get:
      summary: Get User
      operationId: getUser
      parameters: []
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers:
    get:
      summary: List Servers
      operationId: listServers
      parameters: []
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Servers'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    post:
      summary: Create Server
      operationId: createServer
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/servers_body'
        required: true
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}:
    get:
      summary: Get Server
      operationId: getServer
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    put:
      summary: Update Server
      operationId: updateServer
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/servers_id_body'
        required: true
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    delete:
      summary: Delete Server
      operationId: deleteServer
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/database-password:
    put:
      summary: Update Database Password
      operationId: updateDatabasePassword
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/serverId_databasepassword_body'
        required: true
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/reboot:
    post:
      summary: Reboot Server
      operationId: rebootServer
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/revoke:
    post:
      summary: Revoke Forge access to server
      operationId: revokeForgeAccessToServer
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/reconnect:
    post:
      summary: Reconnect revoked server
      operationId: reconnectRevokedServer
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/reactivate:
    post:
      summary: Reactivate revoked server
      operationId: reactivateRevokedServer
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/events:
    get:
      summary: Get Recent Events
      operationId: getRecentEvents
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/servers_events_body'
        required: true
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/inline_response_200'
                x-content-type: application/json
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/services/start:
    post:
      summary: Start Service
      operationId: startService
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/services/stop:
    post:
      summary: Stop Service
      operationId: stopService
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/services/restart:
    post:
      summary: Restart Service
      operationId: restartService
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/mysql/reboot:
    post:
      summary: Reboot MySQL
      operationId: rebootMySQL
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/mysql/stop:
    post:
      summary: Stop MySQL
      operationId: stopMySQL
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/nginx/reboot:
    post:
      summary: Reboot Nginx
      operationId: rebootNginx
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/nginx/stop:
    post:
      summary: Stop Nginx
      operationId: stopNginx
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/nginx/test:
    get:
      summary: Test Nginx
      operationId: testNginx
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/postgres/reboot:
    post:
      summary: Reboot Postgres
      operationId: rebootPostgres
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/postgres/stop:
    post:
      summary: Stop Postgres
      operationId: stopPostgres
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/php/reboot:
    post:
      summary: Reboot PHP
      operationId: rebootPHP
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/php_reboot_body'
        required: true
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/blackfire/install:
    post:
      summary: Install Blackfire
      operationId: installBlackfire
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/blackfire_install_body'
        required: true
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/blackfire/remove:
    delete:
      summary: Remove Blackfire
      operationId: removeBlackfire
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/papertrail/install:
    post:
      summary: Install Papertrail
      operationId: installPapertrail
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/papertrail_install_body'
        required: true
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{id}/papertrail/remove:
    delete:
      summary: Remove Papertrail
      operationId: removePapertrail
      parameters:
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/daemons:
    get:
      summary: List Daemons
      operationId: listDaemons
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Daemons'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    post:
      summary: Create Daemon
      operationId: createDaemon
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/serverId_daemons_body'
        required: true
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Daemon'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/daemons/{daemonId}:
    get:
      summary: Get Daemon
      operationId: getDaemon
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: daemonId
        in: path
        description: The ID of the daemon.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Daemon'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    delete:
      summary: Delete Daemon
      operationId: deleteDaemon
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: daemonId
        in: path
        description: The ID of the daemon.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/daemons/{daemonId}/restart:
    post:
      summary: Restart Daemon
      operationId: restartDaemon
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: daemonId
        in: path
        description: The ID of the daemon.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/firewall-rules:
    get:
      summary: List Firewall Rules
      operationId: listFirewallRules
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rules'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    post:
      summary: Create Firewall Rule
      operationId: createFirewallRule
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/serverId_firewallrules_body'
        required: true
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/firewall-rules/{ruleId}:
    get:
      summary: Get Firewall Rule
      operationId: getFirewallRule
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: ruleId
        in: path
        description: The ID of the rule.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    delete:
      summary: Delete Firewall Rule
      operationId: deleteFirewallRule
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: ruleId
        in: path
        description: The ID of the rule.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/jobs:
    get:
      summary: List Jobs
      operationId: listJobs
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Jobs'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    post:
      summary: Create Job
      operationId: createJob
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/serverId_jobs_body'
        required: true
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/jobs/{jobId}:
    get:
      summary: Get Job
      operationId: getJob
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: jobId
        in: path
        description: The ID of the job.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    delete:
      summary: Delete Job
      operationId: deleteJob
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: jobId
        in: path
        description: The ID of the job.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/php:
    get:
      summary: List PHP Versions
      operationId: listPHPVersions
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/inline_response_200_1'
                x-content-type: application/json
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    post:
      summary: Install PHP Version
      operationId: installPHPVersion
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/php/update:
    post:
      summary: Upgrade PHP Patch Version
      operationId: upgradePHPPatchVersion
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/php/opcache:
    post:
      summary: Enable OPCache
      operationId: enableOPCache
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    delete:
      summary: Disable OPCache
      operationId: disableOPCache
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/databases:
    get:
      summary: List Databases
      operationId: listDatabases
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Databases'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    post:
      summary: Create Database
      operationId: createDatabase
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/serverId_databases_body'
        required: true
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/databases/sync:
    post:
      summary: Sync Database
      operationId: syncDatabase
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/databases/{databaseId}:
    get:
      summary: Get Database
      operationId: getDatabase
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: databaseId
        in: path
        description: The ID of the database.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    delete:
      summary: Delete Database
      operationId: deleteDatabase
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: databaseId
        in: path
        description: The ID of the database.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/database-users:
    get:
      summary: List Database Users
      operationId: listDatabaseUsers
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    post:
      summary: Create Database User
      operationId: createDatabaseUser
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/serverId_databaseusers_body'
        required: true
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/database-users/{userId}:
    get:
      summary: Get Database User
      operationId: getDatabaseUser
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: userId
        in: path
        description: The ID of the user.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    put:
      summary: Update Database User
      operationId: updateDatabaseUser
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: userId
        in: path
        description: The ID of the user.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/databaseusers_userId_body'
        required: true
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    delete:
      summary: Delete Database User
      operationId: deleteDatabaseUser
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: userId
        in: path
        description: The ID of the user.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/nginx/templates:
    post:
      summary: Create Template
      operationId: createTemplate
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nginx_templates_body'
        required: true
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/nginx/templates/default:
    get:
      summary: List Nginx Templates
      operationId: listNginxTemplates
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Templates'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/nginx/templates/{templateId}:
    get:
      summary: Get Nginx Template
      operationId: getNginxTemplate
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: templateId
        in: path
        description: The ID of the template.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    put:
      summary: Update Nginx Template
      operationId: updateNginxTemplate
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: templateId
        in: path
        description: The ID of the template.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    delete:
      summary: Delete Nginx Template
      operationId: deleteNginxTemplate
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: templateId
        in: path
        description: The ID of the template.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/sites:
    get:
      summary: List Sites
      operationId: listSites
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sites'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    post:
      summary: Create Site
      operationId: createSite
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/serverId_sites_body'
        required: true
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/sites/{siteId}:
    get:
      summary: Get Site
      operationId: getSite
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    put:
      summary: Update Site
      operationId: updateSite
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sites_siteId_body'
        required: true
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    delete:
      summary: Delete Site
      operationId: deleteSite
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/sites/{siteId}/php:
    put:
      summary: Change Site PHP Version
      operationId: changeSitePHPVersion
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/siteId_php_body'
        required: true
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/sites/{siteId}/aliases:
    put:
      summary: Add Site Aliases
      operationId: addSiteAliases
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/siteId_aliases_body'
        required: true
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/sites/{siteId}/balancing:
    get:
      summary: Load Balancing
      operationId: loadBalancing
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Nodes'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    put:
      summary: Update Load Balancing
      operationId: updateLoadBalancing
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/siteId_balancing_body'
        required: true
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/sites/{siteId}/logs:
    get:
      summary: Site Log
      operationId: siteLog
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/sites/{siteId}/certificates:
    get:
      summary: List Certificates
      operationId: listCertificates
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificates'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    post:
      summary: Cloning An Existing Certificate
      operationId: cloningAnExistingCertificate
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/siteId_certificates_body'
        required: true
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/sites/{siteId}/certificates/letsencrypt:
    post:
      summary: Obtain A LetsEncrypt Certificate
      operationId: obtainALetsEncryptCertificate
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/sites/{siteId}/certificates/{id}:
    get:
      summary: Get Certificate
      operationId: getCertificate
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    delete:
      summary: Delete Certificate
      operationId: deleteCertificate
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/sites/{siteId}/certificates/{id}/csr:
    get:
      summary: Get Signing Request
      operationId: getSigningRequest
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/sites/{siteId}/certificates/{id}/install:
    post:
      summary: Install Certificate
      operationId: installCertificate
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/id_install_body'
        required: true
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/sites/{siteId}/certificates/{id}/activate:
    post:
      summary: Activate Certificate
      operationId: activateCertificate
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/keys:
    get:
      summary: List Keys
      operationId: listKeys
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Keys'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    post:
      summary: Create Key
      operationId: createKey
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/serverId_keys_body'
        required: true
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/keys/{keyId}:
    get:
      summary: Get Key
      operationId: getKey
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: keyId
        in: path
        description: The ID of the key.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    delete:
      summary: Delete Key
      operationId: deleteKey
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: keyId
        in: path
        description: The ID of the key.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/sites/{siteId}/workers:
    get:
      summary: List Workers
      operationId: listWorkers
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workers'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    post:
      summary: Create Worker
      operationId: createWorker
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/siteId_workers_body'
        required: true
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worker'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/sites/{siteId}/workers/{id}:
    get:
      summary: Get Worker
      operationId: getWorker
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worker'
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
    delete:
      summary: Delete Worker
      operationId: deleteWorker
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/sites/{siteId}/workers/{id}/restart:
    post:
      summary: Restart Worker
      operationId: restartWorker
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: id
        in: path
        description: The ID of the resource.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Ok
        "400":
          description: Valid data was given but the request has failed.
        "401":
          description: No valid API Key was given.
        "404":
          description: The request resource could not be found.
        "422":
          description: The payload has missing required parameters or invalid data
            was given.
        "429":
          description: Too many attempts.
        "500":
          description: Request failed due to an internal error in Forge.
        "503":
          $ref: '#/components/responses/MaintenanceResponses'
  /servers/{serverId}/sites/{siteId}/redirect-rules:
    get:
      summary: List Redirect Rules
      operationId: listRedirectRules
      parameters:
      - name: serverId
        in: path
        description: The ID of the server.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        style: simple
[...]
